<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bryam Assolini</title>

    <script type="module" src="./../../controller/home_page/home_page_controller.js"></script>
    <link rel="stylesheet" href="./../css/home_page/home_page.css">

    <script src="https://kit.fontawesome.com/398cd98506.js" crossorigin="anonymous"></script>
</head>
<body>
    <header></header>
    <section id="body">
        <section id="primary_tamplate">
            <div id="img_primary">
                <img src="./../../assets/img/picture_principal.png" alt="Imagem Princiapl">
            </div>
            <div id="information">
                <h1 id="nome">Bryam</h1>
                <h1 id="sobrenome">Assolini</h1>
                <p id="descricao">Sou professor de computação em Francisco Beltrão - PR 📚💻, apaixonado por jogos digitais 🎮, especialmente puzzles 🧩 e histórias complexas 📖. Jogo basquete 🏀 e adoro criar sistemas em várias tecnologias, o que me torna um programador medíocre, mas com uma incrível capacidade de adaptação para diferentes desafios. 😄🚀</p>
            </div>
            <div id="social_media_primary_tamplate"></div>
        </section>
    </section>
    <footer></footer>
</body>
</html>