<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bryam Assolini</title>

    <link rel="stylesheet" href="./../css/index/index.css">
    <script src="https://kit.fontawesome.com/398cd98506.js" crossorigin="anonymous"></script>
    <script type="module" src="./../../controller/index/index_controller.js"></script>
</head>

<body>
    <header>
        <div id="logo_profissao">
            <div id="logo"></div>
            <div id="proficao">
                <h1>Professor de Programação</h1>
            </div>
        </div>
        <div id="menu" class="menu_desative" onclick="switchMenu()"></div>
        <div id="header_btns">
            <button class="btn_header" id="home" onclick="window.location.href='./index.html'">
                <i class="fa-solid fa-house"></i>
                <h4>HOME</h4>
            </button>
            <button class="btn_header" id="projects" onclick="window.location.href='./projects.html'">
                <i class="fa-solid fa-rectangle-list"></i>
                <h4>PROJETOS</h4>
            </button>
            <button class="btn_header" id="formations" onclick="window.location.href='./formations.html'">
                <i class="fa-solid fa-graduation-cap"></i>
                <h4>FORMAÇÃO</h4>
            </button>
        </div>
    </header>
    <section>
        <div id="img_princ"></div>
        <div id="textos">
            <h2 id="nome">Bryam</h2>
            <h2 id="sobrenome">Assolini</h2>
            <p id="descricao">Sou professor de computação em Francisco Beltrão - PR 📚💻, apaixonado por jogos digitais
                🎮, especialmente puzzles 🧩 e histórias complexas 📖. Jogo basquete 🏀 e adoro criar sistemas em várias
                tecnologias, o que me torna um programador medíocre, mas com uma incrível capacidade de adaptação para
                diferentes desafios. 😄🚀</p>
        </div>
    </section>
    <footer>
        <button class="btn_footer" onclick="window.location.href='https://www.facebook.com'">
            <i class="fa-brands fa-square-facebook"></i>
        </button>
        <button class="btn_footer" onclick="window.location.href='https://www.instagram.com'">
            <i class="fa-brands fa-square-instagram"></i>
        </button>
        <button class="btn_footer" onclick="window.location.href='https://www.threads.net'">
            <i class="fa-brands fa-square-threads"></i>
        </button>
        <button class="btn_footer" onclick="window.location.href='https://www.twitter.com'">
            <i class="fa-brands fa-square-x-twitter"></i>
        </button>
        <button class="btn_footer" onclick="window.location.href='https://www.whatsapp.com'">
            <i class="fa-brands fa-square-whatsapp"></i>
        </button>
        <button class="btn_footer" onclick="window.location.href='https://www.github.com'">
            <i class="fa-brands fa-square-github"></i>
        </button>
        <button class="btn_footer" onclick="window.location.href='https://www.linkedin.com'">
            <i class="fa-brands fa-linkedin"></i>
        </button>
    </footer>
</body>

</html>