<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bryam Assolini</title>

    <link rel="stylesheet" href="./../css/index/index.css">
    <script src="https://kit.fontawesome.com/398cd98506.js" crossorigin="anonymous"></script>
    <script type="module" src="./../../controller/index/index_controller.js"></script>
</head>

<body>
    <header>
    </header>
    <section>
        <div id="img_princ"></div>
        <div id="textos">
            <h2 id="nome">Bryam</h2>
            <h2 id="sobrenome">Assolini</h2>
            <p id="descricao">Sou professor de computação em Francisco Beltrão - PR 📚💻, apaixonado por jogos digitais
                🎮, especialmente puzzles 🧩 e histórias complexas 📖. Jogo basquete 🏀 e adoro criar sistemas em várias
                tecnologias, o que me torna um programador medíocre, mas com uma incrível capacidade de adaptação para
                diferentes desafios. 😄🚀</p>
        </div>
    </section>
    <footer>
    </footer>
</body>

</html>