<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bryam Assolini</title>

    <script type="module" src="./../../controller/projects_page/projects_page_controller.js"></script>
    <link rel="stylesheet" href="./../css/projects_page/projects_page.css">

    <script src="https://kit.fontawesome.com/398cd98506.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
    </header>
    <section id="body">
        <nav id="banners"></nav>
        <nav id="projects_cards"></nav>
    </section>
    <footer></footer>
</body>
</html>