#confirm_delete{
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: -100vw;

    background-color: rgba(0, 0, 0, 0.2);
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s ease-in-out;
}

#validar_password{
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.2);
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s ease-in-out;
}

.smallScreen {
    width: 25vw;
    height: 20vh;

    background-color: white;
    border-radius: 2vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 5vh 0;

    color: #333333;
    font-family: 'fontS';
    font-size: 1vw;
}

.btns_confirm{
    width: 14vw;
    height: 5vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn_confirm{
    width: 5vw;
    height: 3vh;

    border: none;
    color: white;

    border-radius: 0.3vw;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#btn_sim{
    background-color: #26b2da;
}
#btn_nao{
    background-color: #f14598;
}
#btn_sim:hover{
    background-color: #1b5c6e;
}
#btn_nao:hover{
    background-color: #852956;
}