@import url(./inputs.css);

#inputs_section{
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: -100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(35, 35, 35, 0.5);
    z-index: 1;

    transition: all 0.4s ease-in-out;
}

#form_container{
    position: absolute;

    width: 34vw;
    height: 80vh;

    background-color: var(--whiteColor);
    border-radius: 2vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1vw;
    font-family: var(--fontPrimary);
    color: var(--blackColor);
}

@media (max-width: 480px) {
        #form_container{
            width: 80vw;
            height: 90vh;

            font-size: 3vw;
        }
}