@import url(./buttons_banner.css);
@import url(./propaganda.css);

#nav_banner{
    width: 100%;
    height: 40%;

    margin-top: 2%;
}

@media (max-width: 480px) {
    #nav_banner{
        height: 20%;
    }
}





