
#btns_banner{
    width: 12vw;
    height: 6vh;

    position: absolute;
    top: 48vh;
    left: 42vw;

    display: flex;
    justify-content: space-between;
}

.btn_banner{
    width: 4vh;
    height: 4vh;

    border-radius: 50%;

    transition: all 0.2s ease-in-out;

    background-color: var(--whiteColor);
}

.btn_banner:hover{
    transform: scale(1.2);
}

.btn_banner_destaque{
    transform: scale(1.2);
}

@media (max-width: 480px) {
    #btns_banner{
        width: 20vw;
        top: 32vh;
        left: 40vw;
    }

    .btn_banner{
        width: 2vh;
        height: 2vh;
    }
}