#banners{
    width: 400vw;
    height: 40vh;

    position: absolute;

    display: flex;
    flex-direction: row;

    transition: all 0.3s ease-in-out;
}
.banner{
    width: 90vw;
    height: 40vh;
    margin: 0 5vw;
    padding: 3vw;   
}

.banner h1{
    font-family: var(--fontSecundary);
    font-size: 5vw;
    color: var(--whiteColor);
} 
.banner h5{
    font-family: var(--fontPrimary);
    font-size: 1.5vw;
    color: var(--whiteColor);
}


@media (max-width: 480px){
    #banners{
        height: 20vh;
    }

    .banner{
        height: 20vh;
    }

    .banner h1{
        margin: 0;
        font-size: 8vw;
    }

    .banner h5{
        margin: 0;
        font-size: 2.5vw;
    }
}