#information{
    width: 30vw;
    height: 85vh;

    text-align: justify;

    position: absolute;
    left: 52vw;
    
    color: var(--blackColor);
}

#nome, #sobrenome{
    font-family: var(--fontSecundary);
    position: absolute;
}
#nome{
    font-size: 14.7vw;
    top: 1vh;
}
#sobrenome{
    font-size: 11.3vw;
    top: 27vh;
}
#descricao{
    font-family: var(--fontPrimary);
    font-size: 1vw;

    position: absolute;
    top: 52vh;
}

@media (max-width: 480px) {
    #information{
        width: 80vw;
        left: 5vw;
    }
    #nome{
        font-size: 39vw;
        top: 10vh;
    }
    #sobrenome{
        font-size: 30vw;
        top: 28vh;
    }
    #descricao{
        font-size: 3vw;
        top: 45vh;
    }
}