.card_title {
    font-family: var(--fontSecundary);
    font-size: 2vw;
    transition: all 0.2s ease-in-out;
}

.card_img {
    width: 16vw;
    height: 14vh;
    margin: 5vh 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: all 0.2s ease-in-out;
}

.card_lp {
    font-family: var(--fontPrimary);
    font-size: 1vw;
    transition: all 0.2s ease-in-out;
}

.card:hover .card_title {
    opacity: 0;
}

.card:hover .card_lp {
    opacity: 0;
}

.card:hover .card_img {
    opacity: 0;
}

@media (max-width: 480px) {
    .card_title {
        font-size: 4.5vw;
    }

    .card_img {
        width: 15vw;
        height: 15vh;
    }

    .card_lp {
        display: none;
    }

    .card:hover .card_title {
        opacity: 1;
    }

    .card:hover .card_img {
        opacity: 1;
    }
}