footer{
    margin-top: 5%;
    width: 100vw;
    height: 15vh;

    display: flex; 
    justify-content: center; 
    align-items: center; 

    background-color: var(--blackColor);
}

.btn_footer {
    background-color: transparent; 
    border: none;

    font-size: 3vw; 
    color: var(--whiteColor); 
    margin: 0 1vh; 


    cursor: pointer; 
    transition: all 0.1s ease-in-out;
}

.btn_footer:hover {
    transform: scale(1.2); 
}


@media (max-width: 480px){
    footer{
        height: 10vh;
    }
    .btn_footer{
        font-size: 8vw;
        margin: 0 0.1vh; 
    }
}