#form_project_edit {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--boxShadows);

    transition: all 0.2s ease-in-out;
}

#form_container {
    width: 30vw;
    height: 70vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 1vw;
    box-shadow: 0.2vw 0.3vw 0.6vw var(--boxShadows);

    font-family: var(--fontPrimary);
    color: var(--blackColor);

    background-color: var(--whiteColor);
}

#btn_cancel_edition_projects {
    font-size: 1.8vw;

    color: var(--blackColor);

    position: absolute;
    margin: 0 0 30vw 26vw;

    cursor: pointer;
}

#form_container h2{
    font-size: 1.2vw;
    margin-bottom: 1vw;
}

#form_container div{
    width: 20vw;
    height: 8vh;

    margin-top: 0.5vw;

    display: flex;
    flex-direction: column;
}

#form_container div input{
    height: 4vh;

    border: none;
    background-color: transparent;
    border-bottom: solid 1px var(--blackColor);

    font-family: var(--fontPrimary);
    color: var(--blackColor);
}

#form_container button{
    height: 5vh;
    width: 20vw;

    background-color: transparent;
    border: solid 1px;
    border-image: linear-gradient(45deg, var(--blueColor), var(--yellowColor), var(--pinkColor)) 1;

    font-family: var(--fontPrimary);
    color: var(--blackColor);
    font-size: 0.8vw;

    cursor: pointer;
}

