#alert_container{
    width: 20vw;
    height: 20vh;

    position: fixed;

    top: -50vh;
    left: 5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: var(--whiteColor);
    border-radius: 1vw;
    box-shadow: 0.2vw 0.3vw 0.6vw var(--boxShadows);

    transition: all 0.2s ease-in-out;
}

#exit_alert_button{
    font-size: 1.8vw;

    color: var(--blackColor);

    position: absolute;
    margin: 0 16.5vw 6.5vw 0;

    cursor: pointer;
}

#alert_text{
    font-size: 1vw;
    font-family: var(--fontPrimary);

    color: var(--blackColor);
}